<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Genetic Timetable Gen</title>
</head>

<body>

    <div class="p-3">
        <div class="card">
            <div class="card-header">
                <h3><b>TIMETABLE</b> | FITNESS SCORE OF {{fitness}}</h3>
            </div>
            <div class="card-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th>DAYS</th>
                            <th colspan="12">COURSES</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for day,events in days.items() %}
                        <tr>
                            <td>{{day.upper()}}</td>
                            {% for event in events %}
                                <td>{{event.summary()}}</td>
                            {% endfor %}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <script src="{{url_for('static', filename='js/script.js')}}"></script>
</body>

</html>